In [98]:
#Import Library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [100]:
#Import Dataframe
movies_data = pd.read_csv('movies_metadata.csv', sep=',')

In [101]:
# Melihat informasi dalam data seperti kolom dan tipe data
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45463 entries, 0 to 45462
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45463 non-null  bool
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45463 non-null  int64
 3   genres                 45463 non-null  object
 4   homepage               7779 non-null   object
 5   id                     45463 non-null  int64
 6   imdb_id                45446 non-null  object
 7   original_language      45452 non-null  object
 8   original_title         45463 non-null  object
 9   overview               44509 non-null  object
 10  popularity             45460 non-null  float64
 11  poster_path            45077 non-null  object
 12  production_companies   45460 non-null  object
 13  production_countries   45460 non-null  object
 14  release_date           45376 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45463 non-null  bool
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: bool(2), float64(5), int64(2), object(15)
memory usage: 7.7+ MB

In [102]:
# Menampilkan data
movies_data

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,True,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,True,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,True,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,True,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,True,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45458,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45459,True,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45460,True,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45461,True,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45462,True,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [103]:
# Menampilkan 10 data teratas
movies_data.head(10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,True,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,True,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,True,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,True,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,True,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
5,True,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
6,True,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
7,True,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
8,True,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
9,True,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0

In [104]:
# Menampilkan 5 data terakhir
movies_data.tail()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
45458,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45459,True,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45460,True,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45461,True,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45462,True,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [105]:
# Menampilkan data secara acak 
movies_data.sample(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
5567,True,NaN,150000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,44932,tt0081764,en,Without Warning,An alien creature stalks human prey.,...,1980-09-26,0.0,97.0,"[{'iso_639_1': 'hu', 'name': 'Magyar'}]",Released,It Preys On Human Fear. It Feeds On Human Flesh.,Without Warning,False,5.4,26.0
27572,True,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.puzzypower.dk/UK/index.php/all-abou...,16048,tt0349080,en,All About Anna,"Anna is a young costume designer, focused on h...",...,2005-11-24,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The passionate story of a sensuous woman.,All About Anna,False,2.5,42.0
15981,True,NaN,0,"[{'id': 10402, 'name': 'Music'}, {'id': 10749,...",NaN,52848,tt0043123,en,The West Point Story,A Broadway director helps the West Point cadet...,...,1950-11-25,0.0,107.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The West Point Story,False,0.0,0.0
36823,True,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,270936,tt1023446,en,Ellen ten Damme: As I Was Wondering Where This...,Documentary about Dutch artist Ellen ten Damme...,...,2007-04-19,0.0,66.0,[],Released,NaN,Ellen ten Damme: As I Was Wondering Where This...,False,0.0,0.0
16772,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,63702,tt0025397,fr,Liliom,Two women love the same man in a world of few ...,...,1934-05-15,0.0,118.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Liliom,False,0.0,2.0

In [106]:
# Melihat index dalam data
movies_data.index

RangeIndex(start=0, stop=45463, step=1)

In [107]:
# Menjadikan kolom 'original_title' sebagai index atau primary key
movies_data.set_index('original_title')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
original_title,,,,,,,,,,,,,,,,,,,,,
Toy Story,True,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
Jumanji,True,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,When siblings Judy and Peter discover an encha...,17.015539,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
Grumpier Old Men,True,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,A family wedding reignites the ancient feud be...,11.712900,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
Waiting to Exhale,True,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
Father of the Bride Part II,True,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Just when George Banks has recovered from his ...,8.387519,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
رگ خواب,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,Rising and falling between a man and woman.,0.072051,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
Siglo ng Pagluluwal,True,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,An artist struggles to finish his work while a...,0.178241,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
Betrayal,True,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,"When one of her hits goes wrong, a professiona...",0.903007,...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
Satana likuyushchiy,True,NaN,0,[],NaN,227506,tt0008536,en,"In a small town live two brothers, one a minis...",0.003503,...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
Queerama,True,NaN,0,[],NaN,461257,tt6980792,en,50 years after decriminalisation of homosexual...,0.163015,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [108]:
# Konversi release date menjadi tipe data datetime
movies_data["release_date"] = pd.to_datetime(movies_data["release_date"], errors='coerce')

In [109]:
# Melihat apakah berhasil atau tidak
movies_data["release_date"].info

<bound method Series.info of 0       1995-10-30
1       1995-12-15
2       1995-12-22
3       1995-12-22
4       1995-02-10
           ...
45458          NaT
45459   2011-11-17
45460   2003-08-01
45461   1917-10-21
45462   2017-06-09
Name: release_date, Length: 45463, dtype: datetime64[ns]>

In [111]:
# Menampilkan film yang sudah release
movies_data["status"] == "Released"

0        True
1        True
2        True
3        True
4        True
         ...
45458    True
45459    True
45460    True
45461    True
45462    True
Name: status, Length: 45463, dtype: bool

In [113]:
# Menampilkan film dengan budget yang paling mahal 
movies_data.sort_values("budget", ascending = False).head(10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
17124,True,"{'id': 295, 'name': 'Pirates of the Caribbean ...",380000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://disney.go.com/pirates/index-on-stranger...,1865,tt1298650,en,Pirates of the Caribbean: On Stranger Tides,Captain Jack Sparrow crosses paths with a woma...,...,2011-05-14,1.045714e+09,136.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Live Forever Or Die Trying.,Pirates of the Caribbean: On Stranger Tides,False,6.4,5068.0
11827,True,"{'id': 295, 'name': 'Pirates of the Caribbean ...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://disney.go.com/disneypictures/pirates/,285,tt0449088,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",...,2007-05-19,9.610000e+08,169.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,False,6.9,4627.0
26557,True,"{'id': 86311, 'name': 'The Avengers Collection...",280000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,tt2395427,en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,...,2015-04-22,1.405404e+09,141.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A New Age Has Come.,Avengers: Age of Ultron,False,7.3,6908.0
11067,True,"{'id': 8537, 'name': 'Superman Collection', 'p...",270000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.superman.com,1452,tt0348150,en,Superman Returns,Superman returns to discover his 5-year absenc...,...,2006-06-28,3.910812e+08,154.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Superman Returns,False,5.4,1429.0
16130,True,"{'id': 463959, 'name': 'Tangled Collection', '...",260000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://disney.go.com/disneypictures/tangled/,38757,tt0398286,en,Tangled,When the kingdom's most wanted-and most charmi...,...,2010-11-24,5.917949e+08,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They're taking adventure to new lengths.,Tangled,False,7.4,3419.0
18685,True,NaN,260000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://movies.disney.com/john-carter,49529,tt0401729,en,John Carter,"John Carter is a war-weary, former military ca...",...,2012-03-07,2.841391e+08,132.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Lost in our world, found in another.",John Carter,False,6.1,2170.0
44839,True,"{'id': 8650, 'name': 'Transformers Collection'...",260000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,335988,tt3371366,en,Transformers: The Last Knight,"Autobots and Decepticons are at war, with huma...",...,2017-06-21,6.049421e+08,149.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For one world to live, the other must die.",Transformers: The Last Knight,False,6.2,1440.0
11780,True,"{'id': 556, 'name': 'Spider-Man Collection', '...",258000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",http://www.sonypictures.com/movies/spider-man3/,559,tt0413300,en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,...,2007-05-01,8.908716e+08,139.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The battle within.,Spider-Man 3,False,5.9,3687.0
21174,True,NaN,255000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://disney.go.com/the-lone-ranger/,57201,tt1210819,en,The Lone Ranger,The Texas Rangers chase down a gang of outlaws...,...,2013-07-03,8.928991e+07,149.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Never Take Off the Mask,The Lone Ranger,False,5.9,2361.0
19970,True,"{'id': 121938, 'name': 'The Hobbit Collection'...",250000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.thehobbit.com/,49051,tt0903624,en,The Hobbit: An Unexpected Journey,"Bilbo Baggins, a hobbit enjoying his quiet lif...",...,2012-11-26,1.021104e+09,169.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,From the smallest beginnings come the greatest...,The Hobbit: An Unexpected Journey,False,7.0,8427.0

In [115]:
# Menampilkan film dengan budget dan pendapatan yang paling murah
movies_data.sort_values(["budget", "revenue"], ascending = [True, True]).head(10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
2,True,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
7,True,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
11,True,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,1995-12-22,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0
21,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,...,1995-10-27,0.0,124.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One man is copying the most notorious killers ...,Copycat,False,6.5,199.0
23,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,...,1995-10-27,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143.0
25,True,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,1995-12-15,0.0,123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Envy, greed, jealousy and love.",Othello,False,7.0,33.0
27,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,...,1995-09-27,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Persuasion,False,7.4,36.0
29,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,37557,tt0115012,zh,摇啊摇，摇到外婆桥,A provincial boy related to a Shanghai crime f...,...,1995-04-30,0.0,108.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,False,6.5,17.0
32,True,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 12, ...",NaN,78802,tt0114952,fr,"Guillaumet, les ailes du courage",NaN,...,1996-09-18,0.0,50.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Wings of Courage,False,6.8,4.0
34,True,NaN,0,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,47018,tt0112637,en,Carrington,The story of the relationship between painter ...,...,1995-11-08,0.0,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Love so Unusual it has to be True,Carrington,False,6.4,16.0

In [117]:
# Cek duplikasi
movies_data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
45458    False
45459    False
45460    False
45461    False
45462    False
Length: 45463, dtype: bool

In [120]:
# Cek jumlah data yang terduplikat
movies_data.duplicated().sum()

17

In [122]:
# Melihat data mana saja yang duplikat
movies_data[movies_data.duplicated()]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
1465,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,105045,tt0111613,de,Das Versprechen,"East-Berlin, 1961, shortly after the erection ...",...,1995-02-16,0.0,115.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,"A love, a hope, a wall.",The Promise,False,5.0,1.0
9165,True,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,5511,tt0062229,fr,Le Samouraï,Hitman Jef Costello is a perfectionist who alw...,...,1967-10-25,39481.0,105.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,There is no solitude greater than that of the ...,Le Samouraï,False,7.9,187.0
9327,True,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,23305,tt0295682,en,The Warrior,"In feudal India, a warrior (Khan) who renounce...",...,2001-09-23,0.0,86.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,The Warrior,False,6.3,15.0
13375,True,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,2008-12-26,0.0,108.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
16764,True,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,2008-12-26,0.0,108.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
21164,True,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,119916,tt0080000,en,The Tempest,"Prospero, the true Duke of Milan is now living...",...,1980-02-27,0.0,123.0,[],Released,NaN,The Tempest,False,0.0,0.0
21853,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,152795,tt1821641,en,The Congress,More than two decades after catapulting to sta...,...,2013-05-16,455815.0,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Congress,False,6.4,165.0
22150,True,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",http://www.daysofdarknessthemovie.com/,18440,tt0499456,en,Days of Darkness,When a comet strikes Earth and kicks up a clou...,...,2007-01-01,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Days of Darkness,False,5.0,5.0
23043,True,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,25541,tt1327820,da,Broderskab,Former Danish servicemen Lars and Jimmy are th...,...,2009-10-21,0.0,90.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}]",Released,NaN,Brotherhood,False,7.1,21.0
24843,True,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.dealthemovie.com/,11115,tt0446676,en,Deal,As an ex-gambler teaches a hot-shot college ki...,...,2008-01-29,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Deal,False,5.2,22.0
28859,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,168538,tt0084387,en,Nana,"In Zola's Paris, an ingenue arrives at a tony ...",...,1983-06-13,0.0,92.0,[],Released,NaN,"Nana, the True Key of Pleasure",False,4.7,3.0
29373,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,42495,tt0067306,en,King Lear,"King Lear, old and tired, divides his kingdom ...",...,1971-02-04,0.0,137.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Rumored,NaN,King Lear,False,8.0,3.0
35795,True,"{'id': 158365, 'name': 'Why We Fight', 'poster...",0,"[{'id': 99, 'name': 'Documentary'}]",NaN,159849,tt0173769,en,Why We Fight: Divide and Conquer,"The third film of Frank Capra's 'Why We Fight""...",...,1943-01-01,0.0,57.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Why We Fight: Divide and Conquer,False,5.0,1.0
38868,True,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,99080,tt0022537,en,The Viking,"Originally called White Thunder, American prod...",...,1931-06-21,0.0,70.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Actually produced during the Great Newfoundlan...,The Viking,False,0.0,0.0
40037,True,NaN,980000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,298721,tt2818654,th,รักที่ขอนแก่น,"In a hospital, ten soldiers are being treated ...",...,2015-09-02,0.0,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Cemetery of Splendour,False,4.4,50.0
40273,True,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,97995,tt0127834,en,Seven Years Bad Luck,"After breaking a mirror in his home, superstit...",...,1921-02-06,0.0,62.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Seven Years Bad Luck,False,5.6,4.0
45262,True,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,265189,tt2121382,sv,Turist,"While holidaying in the French Alps, a Swedish...",...,2014-08-15,1359497.0,118.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,Force Majeure,False,6.8,255.0

In [124]:
# Melihat jumlah data mana saja yang duplikat dari segi judul 
movies_data[movies_data.duplicated(subset = ["original_title"])]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
888,True,NaN,2238813,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,6620,tt0047437,en,Sabrina,Linus and David Larrabee are the two sons of a...,...,1954-09-28,10000000.0,113.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,...the chauffeur's daughter who learned her st...,Sabrina,False,7.4,284.0
930,True,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,85638,tt0017350,en,The Scarlet Letter,"In Puritan Boston, seamstress Hester Prynne is...",...,1926-08-09,0.0,115.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Scarlet Letter,False,8.3,4.0
1296,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,11349,tt0055824,en,Cape Fear,Sam Bowden witnesses a rape committed by Max C...,...,1962-04-12,0.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Now he had only one weapon left - murder! ...T...,Cape Fear,False,7.2,125.0
1465,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,105045,tt0111613,de,Das Versprechen,"East-Berlin, 1961, shortly after the erection ...",...,1995-02-16,0.0,115.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,"A love, a hope, a wall.",The Promise,False,5.0,1.0
1832,True,NaN,750000,"[{'id': 18, 'name': 'Drama'}]",NaN,23383,tt0040416,en,Hamlet,"Winner of four Academy Awards, including Best ...",...,1948-03-25,0.0,155.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Hamlet,False,7.1,48.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45412,True,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,275331,tt0392137,en,The Hunters,An ethnographic film that documents the effort...,...,1957-01-01,0.0,72.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Hunters,False,5.0,1.0
45417,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,18098,tt0181199,en,Arabian Nights,Scheherezade puts herself in danger to save Su...,...,2000-04-30,0.0,175.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"When Night Falls, the Adventure Begins!",Arabian Nights,False,6.9,21.0
45451,True,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,420346,tt4130180,en,The Morning After,The Morning After is a feature film that consi...,...,2015-01-11,0.0,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What happened last night?,The Morning After,False,4.0,2.0
45457,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0
45460,True,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0

In [127]:
# Melihat jumlah data mana saja yang duplikat dari segi judul 
movies_data[movies_data.duplicated(subset = ["original_title"], keep = False)].sort_values("original_title", ascending=True)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
1161,True,NaN,350000,"[{'id': 18, 'name': 'Drama'}]",NaN,389,tt0050083,en,12 Angry Men,The defense and the prosecution have rested an...,...,1957-03-25,1000000.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Life is in their hands. Death is on their minds.,12 Angry Men,False,8.2,2130.0
15200,True,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,12219,tt0118528,en,12 Angry Men,During the trial of a man accused of his fathe...,...,1997-08-17,0.0,117.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,12 Angry Men,False,7.5,59.0
990,True,NaN,5000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,173,tt0046672,en,"20,000 Leagues Under the Sea",A ship sent to investigate a wave of mysteriou...,...,1954-12-23,28200000.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The mightiest motion picture of them all!,"20,000 Leagues Under the Sea",False,6.9,160.0
20847,True,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,2966,tt0118248,en,"20,000 Leagues Under the Sea","The year is 1886, when New England's fishing h...",...,1997-05-11,0.0,158.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Welcome to the last place on earth.,"20,000 Leagues Under the Sea",False,4.6,13.0
13003,True,NaN,200000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,30266,tt0006333,en,"20,000 Leagues Under the Sea",Captain Nemo has built a fantastic submarine f...,...,1916-12-24,8000000.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The First Submarine Photoplay Ever Filmed,"20,000 Leagues Under the Sea",False,6.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36039,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",http://nobi-movie.com/,283710,tt3893038,ja,野火,"In the final days of World War II, occupying J...",...,2014-08-30,0.0,87.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Fires on the Plain,False,5.0,6.0
25045,True,NaN,0,"[{'id': 14, 'name': 'Fantasy'}]",http://www.majotaku.jp,252391,tt2865558,ja,魔女の宅急便,A young girl named Kiki (Fuka Koshiba) must le...,...,2014-03-01,0.0,108.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Kiki's Delivery Service,False,5.8,13.0
8927,True,NaN,6900000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,16859,tt0097814,ja,魔女の宅急便,"A young witch, on her mandatory year of indepe...",...,1989-07-29,18172849.0,103.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,"I was feeling blue, but I'm better now.",Kiki's Delivery Service,False,7.6,768.0
17169,True,"{'id': 303969, 'name': 'Martin Scorsese’s Worl...",0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://worldcinemafoundation.org/films/the-hou...,42506,tt0150980,ko,하녀,A piano composer's family moves into a new hou...,...,1960-11-03,0.0,111.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,The Housemaid,False,7.0,19.0
16568,True,NaN,4000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",NaN,45202,tt1314652,ko,하녀,A man's affair with his family's housemaid lea...,...,2010-05-13,0.0,106.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,"When Opportunity Knocks, Answer at Your Own Risk",The Housemaid,False,6.2,71.0

In [131]:
# Menghapus data yang duplicate
#1. movies_data = movies_data.drop_duplicates()
movies_data.drop_duplicates(inplace = True)

In [132]:
movies_data

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,True,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,True,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,True,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,True,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,True,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45458,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaT,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45459,True,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45460,True,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45461,True,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45462,True,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [134]:
# Mengecek apakah masih ada data yang duplicate
movies_data.duplicated().sum()

0

In [136]:
# Mengecek jumlah data yang missing atau hilang
movies_data.isna().sum()

adult                        0
belongs_to_collection    40956
budget                       0
genres                       0
homepage                 37669
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   3
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      3
runtime                    260
spoken_languages             3
status                      84
tagline                  25039
title                        3
video                        0
vote_average                 3
vote_count                   3
dtype: int64

In [137]:
# Mengisi colomg belongs to collection yang kosong 
movies_data["belongs_to_collection"] = movies_data["belongs_to_collection"].fillna("No Belongs To Collection")

In [139]:
# Mengecek apakah ada data yang masih kosong pada kolom belongs to collection
movies_data["belongs_to_collection"].isna().sum()

0

In [140]:
# Mengisi colom homepage yang kosong 
movies_data["homepage"] = movies_data["homepage"].fillna("No homepage")

In [141]:
# Mengecek apakah ada data yang masih kosong pada kolom belongs to collection
movies_data["homepage"].isna().sum()

0

In [144]:
# Mengisi colom tagline yang kosong 
movies_data["tagline"] = movies_data["tagline"].fillna("No tagline")

In [145]:
# Mengecek apakah ada data yang masih kosong pada kolom belongs to collection
movies_data["homepage"].isna().sum()

0

In [147]:
# Mengisi colom overview yang kosong 
movies_data["overview"] = movies_data["overview"].fillna("No overview")

In [148]:
# Mengecek apakah ada data yang masih kosong pada kolom belongs to collection
movies_data["homepage"].isna().sum()

0

In [151]:
# Mengecek jumlah data yang missing atau hilang
movies_data.isna().sum()

adult                      0
belongs_to_collection      0
budget                     0
genres                     0
homepage                   0
id                         0
imdb_id                   17
original_language         11
original_title             0
overview                   0
popularity                 3
poster_path              386
production_companies       3
production_countries       3
release_date              87
revenue                    3
runtime                  260
spoken_languages           3
status                    84
tagline                    0
title                      3
video                      0
vote_average               3
vote_count                 3
dtype: int64

In [153]:
# Mengisi colom poster_path yang kosong 
movies_data["poster_path"] = movies_data["poster_path"].fillna("No poster_path")

In [157]:
# Mengisi colom runtime yang kosong 
movies_data["runtime"] = movies_data["runtime"].fillna("No runtiime")

In [164]:
# Mengecek jumlah data yang missing atau hilang
movies_data.isna().sum()

adult                     0
belongs_to_collection     0
budget                    0
genres                    0
homepage                  0
id                        0
imdb_id                  17
original_language        11
original_title            0
overview                  0
popularity                3
poster_path               0
production_companies      3
production_countries      3
release_date             87
revenue                   3
runtime                   0
spoken_languages          3
status                   84
tagline                   0
title                     3
video                     0
vote_average              3
vote_count                3
dtype: int64

In [174]:
movies_data.isna().sum()

adult                     0
belongs_to_collection     0
budget                    0
genres                    0
homepage                  0
id                        0
imdb_id                  17
original_language        11
original_title            0
overview                  0
popularity                3
poster_path               0
production_companies      3
production_countries      3
release_date             87
revenue                   3
runtime                   0
spoken_languages          3
status                   84
tagline                   0
title                     3
video                     0
vote_average              3
vote_count                3
dtype: int64

In [180]:
# Menghapus baris yang kolom release date nya kosong
moviies_data = movies_data.dropna(subset=["release_date"])

In [188]:
movies_data = moviies_data

In [190]:
movies_data.isna().sum()

adult                     0
belongs_to_collection     0
budget                    0
genres                    0
homepage                  0
id                        0
imdb_id                  14
original_language        11
original_title            0
overview                  0
popularity                0
poster_path               0
production_companies      0
production_countries      0
release_date              0
revenue                   0
runtime                   0
spoken_languages          0
status                   80
tagline                   0
title                     0
video                     0
vote_average              0
vote_count                0
dtype: int64

In [196]:
# Menghapus data dengan banyak argumen
movies_data = movies_data.dropna(subset=["imdb_id", "original_language", "spoken_languages", "status"])

In [198]:
movies_data.isna().sum()

adult                    0
belongs_to_collection    0
budget                   0
genres                   0
homepage                 0
id                       0
imdb_id                  0
original_language        0
original_title           0
overview                 0
popularity               0
poster_path              0
production_companies     0
production_countries     0
release_date             0
revenue                  0
runtime                  0
spoken_languages         0
status                   0
tagline                  0
title                    0
video                    0
vote_average             0
vote_count               0
dtype: int64

In [200]:
movies_data.describe()

,budget,id,popularity,release_date,revenue,vote_average,vote_count
count,4.525400e+04,45254.000000,45254.000000,45254,4.525400e+04,45254.000000,45254.000000
mean,4.243908e+06,108048.125779,2.932561,1992-05-12 06:24:25.329031680,1.126033e+07,5.627953,110.367526
min,0.000000e+00,2.000000,0.000000,1874-12-09 00:00:00,0.000000e+00,0.000000,0.000000
25%,0.000000e+00,26340.500000,0.391880,1978-09-29 00:00:00,0.000000e+00,5.000000,3.000000
50%,0.000000e+00,59824.000000,1.133516,2001-08-24 00:00:00,0.000000e+00,6.000000,10.000000
75%,0.000000e+00,156932.000000,3.706840,2010-12-19 18:00:00,0.000000e+00,6.800000,34.000000
max,3.800000e+08,469172.000000,547.488298,2020-12-16 00:00:00,2.787965e+09,10.000000,14075.000000
std,1.746199e+07,112228.390980,6.015930,NaN,6.447406e+07,1.909924,492.374564

In [204]:
movies_data.sample(10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
4041,True,No Belongs To Collection,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",No homepage,2749,tt0179626,en,15 Minutes,When Eastern European criminals Oleg and Emil ...,...,2001-03-01,56359980.0,120.0,"[{'iso_639_1': 'cs', 'name': 'Český'}, {'iso_6...",Released,America Likes to Watch,15 Minutes,False,5.7,194.0
19634,True,No Belongs To Collection,0,"[{'id': 99, 'name': 'Documentary'}]",No homepage,84286,tt2124803,en,How to Survive a Plague,A story of two coalitions – ACT UP and TAG (Tr...,...,2012-09-20,0.0,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No tagline,How to Survive a Plague,False,7.5,17.0
7341,True,No Belongs To Collection,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",No homepage,43525,tt0034890,en,In This Our Life,A young woman dumps her fiancée and runs off w...,...,1942-05-16,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A sensational novel throbs to life! The cast i...,In This Our Life,False,6.2,13.0
13549,True,No Belongs To Collection,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",No homepage,43396,tt0043090,en,Union Station,Police catch a break when suspected kidnappers...,...,1950-10-04,0.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No tagline,Union Station,False,6.0,11.0
41638,True,No Belongs To Collection,0,"[{'id': 10752, 'name': 'War'}, {'id': 18, 'nam...",No homepage,403357,tt5698568,es,1898. Los últimos de Filipinas,The Spanish troops in the Philippines Have to ...,...,2016-12-02,0.0,105.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,No tagline,1898. Our Last Men in the Philippines,False,6.5,39.0
44538,True,No Belongs To Collection,0,"[{'id': 35, 'name': 'Comedy'}]",No homepage,56049,tt0990366,pt,A Grande Família: O Filme,"For forty years, the public functionary and fa...",...,2007-01-26,0.0,105.0,"[{'iso_639_1': 'pt', 'name': 'Português'}]",Released,No tagline,A Grande Família: O Filme,False,5.5,14.0
12363,True,No Belongs To Collection,0,"[{'id': 18, 'name': 'Drama'}]",http://www.wim-wenders.com/movies/movies_spec/...,10834,tt0073152,de,Im Lauf der Zeit,Itinerant projection-equipment repairman Bruno...,...,1976-03-04,0.0,175.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No tagline,Kings of the Road,False,7.1,11.0
44196,True,No Belongs To Collection,0,"[{'id': 10402, 'name': 'Music'}, {'id': 99, 'n...",No homepage,73241,tt0061149,en,The Velvet Underground and Nico,The film depicts a rehearsal of The Velvet Und...,...,1966-02-08,0.0,70.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No tagline,The Velvet Underground and Nico,False,7.5,4.0
38033,True,No Belongs To Collection,0,"[{'id': 18, 'name': 'Drama'}]",No homepage,85540,tt0032414,en,Dr. Kildare Goes Home,A young doctor gives up big-city success to he...,...,1940-09-06,0.0,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No. 5: The Case of the Cancelled Wedding,Dr. Kildare Goes Home,False,6.5,1.0
27180,True,No Belongs To Collection,0,[],No homepage,212455,tt2631862,en,House Party: Tonight's the Night,A pair of high school rappers have two major g...,...,2013-07-23,0.0,80.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No tagline,House Party: Tonight's the Night,False,4.1,11.0